<h1>Orders</h1>

<div id="orders">
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<th style="width: 15%">Email:</th>
				<th style="width: 15%">Status</th>
				<th style="width: 15%">Total</th>
				<th style="width: 15%"></th>
			</tr>
		</thead>	
		<tbody>
			<% @orders.each do |order| %>
  		<tr>
				<td><%= order.email %></td>
				<td><%= order.status %></td>
				<td><%= order.total %></td>
				<td><%= link_to "Show this order", order %></td>
			</tr>
  		<% end %>
		</tbody>
	</table>
</div>

<%= link_to "New order", new_order_path, class:"btn btn-primary" %>
