<%= render @order %>

<div>
	<% if @order.status.downcase == "new" %>
		<%= button_to "Mark as paid", {:controller => :orders, :action => 'change_status', :id => @order.id, :status => "paid" }, :method => :post, class:"btn btn-primary" %>
		<%= button_to "Cancel this order", {:controller => :orders, :action => 'change_status', :id => @order.id, :status => "cancelled" }, :method => :post, class:"btn btn-danger" %>
	<% end %><%= link_to "Back to orders", orders_path %>
	
  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
